@import url('https://fonts.googleapis.com/css?family=Permanent+Marker:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');

.img-music{
    width: 300px;
    height: 300px;
    padding: 30px;
    margin-top: 60px;
}




.bg-color-nav {
    background-color: #000000;
    min-height: 100px;
    min-width: 100%;
    display: block;
    
}


.bg-color-music {
    background-color: #ffff99;
    min-height: 600px;
    min-width: 100%;
    display: block;
}

.bg-color-join{
    background-color: #ffff99;
    min-height: 600px;
    min-width: 100%;
    display: block;
}

/*---------------------------------------------------------------------nav*/

.logo {
    font-family: "Permanent Marker", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 25px;
    margin-top: 25px;
    
}

.menu-items {
    
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    transform: perspective(1px) translateY(150%);
    
  
    
}

.menu-items a{
    color: #ffcb0c;
    margin: 35px;
    
   
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

/*---------------------------------------------------------------------home page*/

.img-fluid {
    min-width: 100%;
    height: auto;
    display: block;
}

.img_monkees_home {
    opacity: 0.85;
}

/*---------------------------------------------------------------------tour banner*/
.tour-banner {
    background-color: #000000;
    min-height: 600px;
    min-width: 100%;
    display: block;
}

.title-tour-banner {
    font-family: "Raleway" 600;
    font-size: 45px;
    color: #fafafa;
    text-align: center;
    margin-top: 150px;
}

.table {
     max-width: 70%;
     margin: auto;
     margin-top: 100px;
}

.table-color{
    padding: 50px;
    font-family: "Raleway" 100;
    font-size: 15px;
    color: #fafafa;
    text-align: center;
    

    
}


/*---------------------------------------------------------------------footer*/

footer {
    background-color: #ffcb0c;
    color: #fafafa;
    position:absolute;
    min-height: 100px;
    min-width: 100%;
    display: block;
    
}

.footer-details {
    font-family: "Raleway" 200 ;
    font-size: 25px;
}


.social-links {
    padding-bottom: 15px;
    padding-top: 40px;
    float: right;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 10px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background-color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} 
    
.social-links li a i:hover {
    background: #FF4500;
}



html body{
  margin:0;
}





     
 
/*---------------------------------------------------------------------contact page*/ 
 

form {
    margin: 0 auto;
    max-width: 40%;
}

.form-control{
    margin-top: 100px;
}







/*---------------------------------------music page*/



/*---------------------------------------media query*/


@media (max-width: 768px){ 
  .menu-items {
    width:100%;
    float: left;
    
  }
  
  
 
    
}